.wi-towards-n    {
    .wi-wind.towards-0-deg;
}
.wi-towards-nne   {
    .wi-wind.towards-23-deg;
}
.wi-towards-ne    {
    .wi-wind.towards-45-deg;
}
.wi-towards-ene   {
    .wi-wind.towards-68-deg;
}
.wi-towards-e    {
    .wi-wind.towards-90-deg;
}
.wi-towards-ese   {
    .wi-wind.towards-113-deg;
}
.wi-towards-se    {
    .wi-wind.towards-135-deg;
}
.wi-towards-sse   {
    .wi-wind.towards-158-deg;
}
.wi-towards-s    {
    .wi-wind.towards-180-deg;
}
.wi-towards-ssw   {
    .wi-wind.towards-203-deg;
}
.wi-towards-sw    {
    .wi-wind.towards-225-deg;
}
.wi-towards-wsw   {
    .wi-wind.towards-248-deg;
}
.wi-towards-w    {
    .wi-wind.towards-270-deg;
}
.wi-towards-wnw   {
    .wi-wind.towards-293-deg;
}
.wi-towards-nw    {
    .wi-wind.towards-313-deg;
}
.wi-towards-nnw   {
    .wi-wind.towards-336-deg;
}
.wi-from-n    {
    .wi-wind.from-0-deg;
}
.wi-from-nne   {
    .wi-wind.from-23-deg;
}
.wi-from-ne    {
    .wi-wind.from-45-deg;
}
.wi-from-ene   {
    .wi-wind.from-68-deg;
}
.wi-from-e    {
    .wi-wind.from-90-deg;
}
.wi-from-ese   {
    .wi-wind.from-113-deg;
}
.wi-from-se    {
    .wi-wind.from-135-deg;
}
.wi-from-sse   {
    .wi-wind.from-158-deg;
}
.wi-from-s    {
    .wi-wind.from-180-deg;
}
.wi-from-ssw   {
    .wi-wind.from-203-deg;
}
.wi-from-sw    {
    .wi-wind.from-225-deg;
}
.wi-from-wsw   {
    .wi-wind.from-248-deg;
}
.wi-from-w    {
    .wi-wind.from-270-deg;
}
.wi-from-wnw   {
    .wi-wind.from-293-deg;
}
.wi-from-nw    {
    .wi-wind.from-313-deg;
}
.wi-from-nnw   {
    .wi-wind.from-336-deg;
}